
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/*--------------------- Typography ----------------------------*/

@font-face {
    font-family: 'aller-light';
    src: url('public/fonts/aller-light.eot');
    src: url('public/fonts/aller-light.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/aller-light.woff') format('woff'),
         url('public/fonts/aller-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller-bold';
    src: url('public/fonts/aller-bold.eot');
    src: url('public/fonts/aller-bold.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/aller-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-black';
    src: url('public/fonts/roboto-black.eot');
    src: url('public/fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
         url('public/fonts/roboto-black.woff') format('woff'),
         url('public/fonts/roboto-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*--------------------- Layout ----------------------------*/
html { height: 100%; }
body {
  font-family: "aller-light";
  font-size: 12px;
  line-height: 15px;
  color: #30404f;
  margin: 0; padding: 0;
  height:100%;
}
#container { min-height: 100%; }

a {
  color: #000;
}

b, strong {
  font-weight: normal;
  font-family: "aller-bold";
}

p {
  text-align: right;
  margin: 15px 0 0px;
}
  .annotation ul, .annotation ol {
    xmargin: 45px 0;
  }
    .annotation ul li, .annotation ol li {
      font-size: 12px;
      line-height: 13px;
      xmargin: 11px 0;
    }

h1, h2, h3, h4, h5, h6 {
  color: #112233;
  line-height: 1em;
  font-weight: normal;
  font-family: "roboto-black";
  xtext-transform: uppercase;
  margin: 0px 0 15px 0;
}

h1 {
  font-size: 2.8em;
  margin-top: 11px;
}
h2 {
  font-size: 2.1em;
  margin: 10px 0 15px 0;
  xborder-top: 2px solid #ccc;
}

h4 {
  text-decoration: italic;
}
h3,h4,h5,h6 {text-align:right;}

hr {
  border: 0;
  background: 1px rgb(15,25,68);
  height: 1px;
  xmargin: 20px 0;
  margin-color: rgb(15,25,68); 
}

pre, tt, code {
  font-size: 12px; line-height: 15px;
  xfont-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  font-family: Menlo,  Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}
  .annotation pre {
    display: block;
    margin: 0;
    padding: 7px 11px;
    background: #fcfcfc;
    -moz-box-shadow:    inset 0 0 11px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 11px rgba(0,0,0,0.1);
    box-shadow:         inset 0 0 11px rgba(0,0,0,0.1);
    overflow-x: auto;
  }
    .annotation pre code {
      border: 0;
      padding: 0;
      background: transparent;
    }


blockquote {
  border-left: 5px solid #ccc;
  margin: 0;
  padding: 1px 0 1px 1em;
}
  .sections blockquote p {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 12px; line-height: 15px;
    color: #999;
    margin: 11px 0 0;
    white-space: pre-wrap;
  }

ul.sections {
  list-style: none;
  padding:0 0 5px 0;;
  margin:0;
}

/*
  Force border-box so that % widths fit the parent
  container without overlap because of margin/padding.

  More Info : http://www.quirksmode.org/css/box.html
*/
ul.sections > li > div {
  -moz-box-sizing: border-box;    /* firefox */
  -ms-box-sizing: border-box;     /* ie */
  -webkit-box-sizing: border-box; /* webkit */
  -khtml-box-sizing: border-box;  /* konqueror */
  box-sizing: border-box;         /* css3 */
}


/*---------------------- Jump Page -----------------------------*/
#jump_to, #jump_page {
  margin: 0;
  background: white;
  -webkit-box-shadow: 0 0 25px #777; -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;
  font: 16px Arial;
  cursor: pointer;
  text-align: right;
  list-style: none;
}

#jump_to a {
  text-decoration: none;
}

#jump_to a.large {
  display: none;
}
#jump_to a.small {
  font-size: 22px;
  font-weight: bold;
  color: #676767;
}

#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 11px 15px;
  margin:0;
}

#jump_wrapper {
  display: none;
  padding:0;
}

#jump_to:hover #jump_wrapper {
  display: block;
}

#jump_page_wrapper{
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

#jump_page {
  padding: 5px 0 3px;
  margin: 0 0 25px 25px;
  max-height: 100%;
  overflow: auto;
}

#jump_page .source {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-top: 1px solid #eee;
}

#jump_page .source:hover {
  background: #f5f5ff;
}

#jump_page .source:first-child {
}

/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and (min-width: 320px) {
  .sswrap { display: none; }

  ul.sections > li > div {
    display: block;
    padding:5px 11px 0 11px;
  }

  ul.sections > li > div.annotation ul, ul.sections > li > div.annotation ol {
    padding-left: 30px;
  }

  ul.sections > li > div.content {
    overflow-x:auto;
    -webkit-box-shadow: inset 0 0 5px #e5e5ee;
    box-shadow: inset 0 0 5px #e5e5ee;
    border: 1px solid #dedede;
    margin:5px 11px 5px 11px;
    padding-bottom: 5px;
  }

  ul.sections > li > div.annotation pre {
    margin: 7px 0 7px;
    padding-left: 15px;
  }

  ul.sections > li > div.annotation p tt, .annotation code {
    background: #f8f8ff;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 0.2em;
  }
}

/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  #container {
    position: relative;
  }
  body {
    background-color: #F5F5FF;
    font-size: 15px;
    line-height: 21px;
  }
  pre, tt, code {
    line-height: 18px;
  }
  p, ul, ol {
    margin: 0 0 15px;
  }


  #jump_to {
    padding: 5px 11px;
  }
  #jump_wrapper {
    padding: 0;
  }
  #jump_to, #jump_page {
    font: 11px Arial;
    text-transform: uppercase;
  }
  #jump_page .source {
    padding: 5px 11px;
  }
  #jump_to a.large {
    display: inline-block;
  }
  #jump_to a.small {
    display: none;
  }



  #background {
    position: absolute;
    top: 0; bottom: 0;
    width: 350px;
    background: #fff;
    border-right: 1px solid #e5e5ee;
    z-index: -1;
  }

  ul.sections > li > div.annotation ul, ul.sections > li > div.annotation ol {
    padding-left: 40px;
  }

  ul.sections > li {
    white-space: nowrap;
  }

  ul.sections > li > div {
    display: inline-block;
  }

  ul.sections > li > div.annotation {
    max-width: 350px;
    min-width: 350px;
    min-height: 5px;
    padding: 13px;
    overflow-x: hidden;
    white-space: normal;
    vertical-align: top;
    text-align: left;
  }
  ul.sections > li > div.annotation pre {
    margin: 15px 0 15px;
    padding-left: 15px;
  }

  ul.sections > li > div.content {
    padding: 13px;
    vertical-align: top;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .sswrap {
    position: relative;
    display: inline;
  }

  .ss {
    font: 12px Arial;
    text-decoration: none;
    color: #454545;
    position: absolute;
    top: 3px; left: -20px;
    padding: 1px 2px;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
  }
    .for-h1 .ss {
      top: 47px;
    }
    .for-h2 .ss, .for-h3 .ss, .for-h4 .ss {
      top: 35px;
    }

  ul.sections > li > div.annotation:hover .ss {
    opacity: 1;
  }
}

/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {

  body {
    font-size: 13px;
    line-height: 20px;
  }

  #background {
    width: 525px;
  }
  ul.sections > li > div.annotation {
    max-width: 525px;
    min-width: 525px;
    padding: 11px 25px 1px 50px;
  }
  ul.sections > li > div.content {
    padding: 9px 15px 16px 25px;
  }
}

/*---------------------- Syntax Highlighting -----------------------------*/

td.linenos { background-color: #f0f0f0; padding-right: 11px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #000;
  background: #f8f8ff
}

pre .hljs-comment,
pre .hljs-template_comment,
pre .hljs-diff .hljs-header,
pre .hljs-javadoc {
  color: #408080;
  font-style: italic
}

pre .hljs-keyword,
pre .hljs-assignment,
pre .hljs-literal,
pre .hljs-css .hljs-rule .hljs-keyword,
pre .hljs-winutils,
pre .hljs-javascript .hljs-title,
pre .hljs-lisp .hljs-title,
pre .hljs-subst {
  color: #954121;
  /*font-weight: bold*/
}

pre .hljs-number,
pre .hljs-hexcolor {
  color: #40a070
}

pre .hljs-string,
pre .hljs-tag .hljs-value,
pre .hljs-phpdoc,
pre .hljs-tex .hljs-formula {
  color: #219161;
}

pre .hljs-title,
pre .hljs-id {
  color: #19469D;
}
pre .hljs-params {
  color: #00F;
}

pre .hljs-javascript .hljs-title,
pre .hljs-lisp .hljs-title,
pre .hljs-subst {
  font-weight: normal
}

pre .hljs-class .hljs-title,
pre .hljs-haskell .hljs-label,
pre .hljs-tex .hljs-command {
  color: #458;
  font-weight: bold
}

pre .hljs-tag,
pre .hljs-tag .hljs-title,
pre .hljs-rules .hljs-property,
pre .hljs-django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal
}

pre .hljs-attribute,
pre .hljs-variable,
pre .hljs-instancevar,
pre .hljs-lisp .hljs-body {
  color: #008080
}

pre .hljs-regexp {
  color: #B68
}

pre .hljs-class {
  color: #458;
  font-weight: bold
}

pre .hljs-symbol,
pre .hljs-ruby .hljs-symbol .hljs-string,
pre .hljs-ruby .hljs-symbol .hljs-keyword,
pre .hljs-ruby .hljs-symbol .hljs-keymethods,
pre .hljs-lisp .hljs-keyword,
pre .hljs-tex .hljs-special,
pre .hljs-input_number {
  color: #990073
}

pre .hljs-builtin,
pre .hljs-constructor,
pre .hljs-built_in,
pre .hljs-lisp .hljs-title {
  color: #0086b3
}

pre .hljs-preprocessor,
pre .hljs-pi,
pre .hljs-doctype,
pre .hljs-shebang,
pre .hljs-cdata {
  color: #999;
  font-weight: bold
}

pre .hljs-deletion {
  background: #fdd
}

pre .hljs-addition {
  background: #dfd
}

pre .hljs-diff .hljs-change {
  background: #0086b3
}

pre .hljs-chunk {
  color: #aaa
}

pre .hljs-tex .hljs-formula {
  opacity: 0.5;
}
tr,p { line-height: 14px; }

#forkongithub a { background:rgb(15,25,68);
                  color:#fff;text-decoration:none;font-family:arial,sans-serif;
                  text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;
                  line-height:2rem;position:relative;transition:0.5s;}
#forkongithub a:hover { background:#954121;color:#fff;}
#forkongithub a::before,#forkongithub a::after { content:"";width:100%;display:block;position:absolute;
                                                 top:1px;left:0;height:1px;background:#fff;}
#forkongithub a::after { bottom:1px;top:auto;}

@media screen and (min-width:800px){
  #forkongithub   { position:fixed;display:block;top:0;right:0;
                    width:200px;overflow:hidden;height:200px;z-index:9999;}
  #forkongithub a { width:200px;position:absolute;top:60px;
                    right:-60px;transform:rotate(45deg);
                     -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);
                     -o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8); }
}

h1,h2 { color: rgb(15,25,68); }
b, strong {
  color: #954121;
   }
